config/
config_production/
.idea/vcs.xml
src/src/db/__pycache__/
.DS_Store
airflow/logs
src/src/models/Entity/__pycache__/__init__.cpython-35.pyc
src/src/models/__pycache__/__init__.cpython-35.pyc
src/src/services/metadata_services/__pycache__/
src/src/platform/static/img/
