html{
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 100%;
}

a:active {
    text-decoration: none;
}

#logo{
    margin-top: 20px;
    margin-bottom: 50px;
    height: 136px;
}

.icon {
    height: 20px;
    float:left;
    margin-top: 4px;
    margin-right: 10px;
}

p{
    font-family: 'Montserrat-light', sans-serif;
    font-size: 20px;
    color:black;
}

.brand{
    height: 80px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand img{
    width: 304px;
}

.nav-name{
    height:100%
    width: 100%
}

.content .main-content{
    height:100%;
    overflow-x: scroll;
}

.main-content .dash-content {
    background-color: #F2F3F5;
    height: 100%;
    margin-right: -15px;
    margin-top: -20px;
}

.artist-icon{
    border-radius:100px;
}

.entity-header img {
    float:left;
}

#active-line{
    background-color: #FF3233;
    height: 44px;
    width: 7px;
    padding:0;
    z-index: 500;
    position: absolute;
    top: 198px;
}

.content{
    height:100%;
    width:100%;
}

.find-artist{
    margin-top:20px;
    margin-left:5px;
    white-space: nowrap;
}

#search-bar{
    outline: none;
    background-color:transparent;
    border: 0px solid;
    font-size: 20px;
    height:30px;
    width:160px;
}

.artist-drag-bar{
    display: inline-block;
    margin-left:10px;
    margin-right:10px;
}



.entity-name {
    margin-top:-5px;
}

#search-prompt{
    color: #808284;
    margin-top:-5px;
}

#search-bar{
    display:none;
    font-family: 'Montserrat-light', sans-serif;
    font-size: 20px;
    margin-top: -100px;
    padding-top: 50px;
    height:100%;
}

#search-block{
    height: 100%;
    width:100%;
}

.search-wrap{
    padding-top:1px;
    margin-left:10px;
}

#add-to-dash{
    display:none;
    width:75%;
    height: 75px;
    border-width:3px;
    border-radius:30px;
    border-style:dashed;
    border-color: #808284;
    margin: 0 auto;
}

#add-to-dash-content{
    text-align: center;
}

.drop-entity{
    display: inline-block;
}

.search-artist{
    margin-top:16px;
    margin-left:10px;
    margin-right:10px;
    height:120px;
    width:160px;
    float:left;
}

ul {
    list-style: none;
    padding: 0;
}

.nav-element{
    width:100%;
    height 50px;
}

.drop-entity{
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 23px;
    color: #979797;
}

#dash-icon{
    margin-top:-17px;
    margin-right: 10px;
}

.drop-entity-active{
    margin-top:-17px;
    display:none;
}

.left-icon{
    margin-left:50px;
}

.right-icon{
    margin-right:50px;
}

.entity-information-wrapper{
    display:none;
}